/dts-v1/;

/include/ "bcm2708-rpi.dtsi"

/ {
	gpio_keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys_pins>;

		status = "okay";

		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;
		button@a {
			label = "GPIO Key A";
			linux,code = <30>;
			gpios = <&gpio 23 1>;
		};
		button@b {
			label = "GPIO Key B";
			linux,code = <48>;
			gpios = <&gpio 22 1>;
		};
	};
};

&gpio {
	gpio_keys_pins: gpio_keys {
		brcm,pins = <23 22>;
		brcm,function = <0>; /* GPIO in */
		brcm,pull = <2>; /* pull up */
	};
};

&spi0 {
	status = "okay";

	spidev@0{
		compatible = "spidev";
		reg = <0>;	/* CE0 */
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <500000>;
		// Mode 0 (CPOL = 0, CPHA = 0)
		status = "okay";
	};

	spidev@1{
		compatible = "spidev";
		reg = <1>;	/* CE1 */
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <500000>;
		// Mode 0 (CPOL = 0, CPHA = 0)
		status = "disabled";
	};

	tsc2046@1 {
		compatible = "ti,tsc2046";
		reg = <1>;	/* CE1 */
		interrupts = <3 17>;	/* bank 3 is GPIO interrupts */
		spi-max-frequency = <2000000>;
		pendown-gpio = <&gpio 17 0>;

		ti,x-min = /bits/ 16 <230>;
		ti,x-max = /bits/ 16 <3850>;
		ti,y-min = /bits/ 16 <190>;
		ti,y-max = /bits/ 16 <3850>;
		ti,x-plate-ohms = /bits/ 16 <60>;
		ti,pressure-max = /bits/ 16 <255>;

		linux,wakeup;
		status = "okay";
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;
};
